
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Josefin+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(29, 29, 29);
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  justify-content: center;
  background-color: lightseagreen;
  border-radius: 10px;
  padding: 3vw 3vw;

}

.container h2{
  display: none;
  background-color: greenyellow;
  padding: 5px 3vw;
  border-radius: 5px;

}

.imagecontainer{
  overflow: hidden;
  display: none;
  height: 250px;
  width: 250px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: white;
 
}

.imagecontainer img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  object-position: top;
}

button{
  font-size: 18px;
  padding: 1vw 2vw;
  border: none;
  border-radius: 5px;
  background-color: greenyellow;
  color: black;
  transition: all .4s;
  cursor: pointer;
}

button:hover{
  background-color: black;
  color: greenyellow;
}

button:active{
  background-color: rgb(55, 55, 55);
}